h1{
    text-align: left ;
    background-color: #d36e70; width: fit-content; height: auto ;
    font-size:70px;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: bold;
    font-kerning: auto;
    

}